<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
	<link rel='icon' href='favicon.ico' type='image/x-icon'>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h3><span>Autor: <%= author %></span><span><img src="images/author.jpg"></span></h3>
    <p><%= desc_author %></p>
  </body>
</html>
