<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <title>Preguntas</title>
    <link rel='stylesheet' 
	      type='text/css'
	      media='only screen and (min-width: 560px) and (min-device-width: 481px)'
	      href='/css/wide.css' />
    <link rel='stylesheet' 
	      type='text/css'
	      media='only screen and (max-width: 312px)'
	      href='/css/smartphone.css' />
    <link rel='stylesheet' 
	      type="text/css"
	      href='/css/default.css' />
    <link rel='alternate stylesheet' 
	      title='alternativo fondo'
	      type="text/css"
	      href='/css/fondo.css' />
	<link rel='icon' href='favicon.ico' type='image/x-icon'>
  </head>
  <body>
  <h2><span><%= title %>: </span>
  <p></p>
  <form method="get" action="/quizes">
    <input type="text" name="busqueda" alt="<%= desc %>" placeholder="texto a buscar" autofocus />
    <input type="submit" value="Buscar...">
  </form>
  </h2>
  <% if(encontrado && encontrado!=="[]") { %>
    <p class="resultados">Resultados:<br/>
      <div class="caja">
      <% var quiz = JSON.parse(encontrado); %>
      <% var i; for(i=0;i<quiz.length;i++) { %>
        <blockquote><%= quiz[i].pregunta %></blockquote>
      <% } %>
    </div>
    </p>
  <% } %>
</body>
</html>
